<h1>Dati generali di contratto</h1>
<div class="wat-cf">
  <div class="edit_group">
    <div class="edit_label">Contratto</div>
    <div class="edit_field">
      <%= f.text_field :number %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Data Contratto</div>
    <div class="edit_date">
      <%= f.date_select :date,
                        :order => [:day, :month, :year],
                        :include_blank => :true,
                        :use_short_month => :true %>
      </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Tipo Contratto</div>
    <div class="edit_field">
      <%= f.collection_select :contract_type_id,
                              ContractType.find(:all),
                              :id,
                              :name,
                              :prompt => "Inserire il tipo di contratto" %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Descrizione</div>
    <div class="edit_field">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Cliente</div>
    <div class="edit_field">
       <%= f.collection_select :customer_id, 
                               Customer.find(:all, :order => "name"), 
                               :id, 
                               :name, 
                               :prompt => "Inserire il cliente" %>
    </div>
  </div>
</div>
<h1>Condizioni di servizio</h1>
<div class="wat-cf">
  <div class="edit_group">
    <div class="edit_label">Tipo Attività</div>
    <div class="edit_field">
      <%= f.collection_select :business_type_id, 
                              BusinessType.find(:all, :order => "name"), 
                              :id,
                              :name,
                              :prompt => "Inserire il tipo di attività" %>
    </div>
  </div>

  <div class="edit_group">
    <div class="edit_label">Esattore</div>
    <div class="edit_field">
      <%= f.collection_select :esattore_id, 
                              Esattore.find(:all, :order => "name"), 
                              :id,
                              :name,
                              :prompt => "Inserire l'esattore" %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Zona</div>
    <div class="edit_field">
      <%= %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label" >Intervallo fatturazione</div>
    <div class="edit_field">
      <%= f.select :invoicing_freq,
                   Contract::FREQUENCY,
                   :prompt => "Scegliere la periodicità" %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Mese iniziale</div>
    <div class="edit_field">
      <%= f.select :initial_month,
                   Misc::MONTHS,
                   :prompt => "Indicare il primo mese" %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Scadenze fatturazione</div>
    <div class="edit_field">
      <div id="scadfat"></div>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Contropartita</div>
    <div class="edit_field">
      <%= f.text_field :account_code, data: {autocomplete_source: accounts_path } %>
    </div>
  </div>
  <div class="edit_group">
    <div class="edit_label">Sospeso</div>
    <div class="edit_field">
      <%= f.check_box :block_flag, :class => "large_checkbox"  %>
    </div>
    <div style="float: left; margin: 3px 5px;">Dal</div>
    <div class="edit_date">
      <%= f.date_select :blocked_at, 
                        :order => [:day, :month, :year],
                        :include_blank => :true,
                        :use_short_month => :true %>
    </div>
    <div style="float: left; margin: 3px 5px;">Al</div>
    <div class="edit_date">
      <%= f.date_select :unblocked_at, 
                        :order => [:day, :month, :year],
                        :include_blank => :true,
                        :use_short_month => :true %>
    </div>
  </div>
</div>        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Salva")}") %> <%= t("web-app-theme.save", :default => "Salva") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "oppure") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Annulla"), contracts_path, :class => "text_button_padding link_button" %>
</div>
