<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Elenco")}", contracts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Crea")}", new_contract_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Mostra")}", contract_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.contract.customer.name", 
                   :default => t("activerecord.labels.customer.name", 
                                 :default => "Cliente")) %>
             :
          </b>
          <%= @contract.customer.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.collector.lastname", :default => t("activerecord.labels.collector.lastname", :default => "Esattore")) %>:</b>
          <%= @contract.collector.lastname + " " + @contract.collector.firstname %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.account.sottoconto", :default => t("activerecord.labels.account.sottoconto", :default => "Contropartita")) %>:</b>
          <%= @contract.account.fullcode + " " + @contract.account.sottoconto %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.business_type.name", :default => t("activerecord.labels.business_type.name", :default => "Tipo attività")) %>:</b>
          <%= @contract.business_type.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.number", :default => t("activerecord.labels.number", :default => "Numero Contratto")) %>:</b>
          <%= @contract.number %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.date", :default => t("activerecord.labels.date", :default => "Data Contratto")) %>:</b>
          <%= @contract.date %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.type", :default => t("activerecord.labels.type", :default => "Tipo Contratto")) %>:</b>
          <%= @contract.type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.block_flag", :default => t("activerecord.labels.block_flag", :default => "Block flag")) %>:</b>
          <%= @contract.block_flag %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.blocked_at", :default => t("activerecord.labels.blocked_at", :default => "Blocked at")) %>:</b>
          <%= @contract.blocked_at %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.unblocked_at", :default => t("activerecord.labels.unblocked_at", :default => "Unblocked at")) %>:</b>
          <%= @contract.unblocked_at %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.invoicing_freq", :default => t("activerecord.labels.invoicing_freq", :default => "Invoicing freq")) %>:</b>
          <%= @contract.invoicing_freq %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.contract.invoicing_months", :default => t("activerecord.labels.invoicing_months", :default => "Invoicing months")) %>:</b>
          <%= @contract.invoicing_months %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_contract_path(@contract), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), contract_path(@contract), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
