<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Elenco")}", contracts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Crea")}", new_contract_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Mostra")}", contract_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <div class="wat-cf">
        <h1>Dati generai di contratto</h1>
        <div class="show_group">
          <div class="show_label">Contratto</div>
          <div class="show_field"><%= @contract.number %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Data Contratto</div>
          <div class="show_field"><%= @contract.date %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Descrizione</div>
          <div class="show_field"><%= @contract.description %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Tipo contratto</div>
          <div class="show_field"><%= @contract.contract_type.name %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Cliente</div>
          <div class="show_field"><%= @contract.customer.code %> - <%= @contract.customer.name %></div>
        </div>
      </div>
      <div class="wat-cf">
      <h1>Condizioni di servizio</h1>
        <div class="show_group">
          <div class="show_label">Tipo Attività</div>
          <div class="show_field"><%= @contract.business_type.name %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Esattore</div>
          <div class="show_field"><%= @contract.esattore.name %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Zona</div>
          <div class="show_field"><%= %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Intervallo fatturazione</div>
          <div class="show_field"><%= @contract.invoicing_freq %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Scadenze fatturazione</div>
          <div class="show_field"><%= @contract.invoicing_months %></div>
        </div>
        <div class="show_group">
          <div class="show_label">Contropartita</div>
          <div class="show_field"><%= @contract.account.fullcode + " " + @contract.account.sottoconto %></div>
        </div>

        <div class="show_group">
          <div class="show_label">Sospeso</div>
          <div class="show_field"><%= @contract.block_flag %></div>
        </div>

        <div class="show_group">
          <div class="show_label">Dal</div>
          <div class="show_field"><%= @contract.blocked_at %></div>
        </div>

        <div class="show_group">
          <div class="show_label">Al</div>
          <div class="show_field"><%= @contract.unblocked_at %></div>
        </div>
      </div>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Modifica")}") + " " + t("web-app-theme.edit", :default=> "Modifica"), edit_contract_path(@contract), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/delete.png", :alt => "#{t("web-app-theme.delete", :default=> "Elimina")}") + " " + t("web-app-theme.delete", :default => "Elimina"), contract_path(@contract), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Sei sicuro?")}" %>
      </div>      
    </div>
    <div class="inner">
	   <%= render :partial => "mappa" %>
	</div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
