<div class="edit">
  <div class="page_divider">
	<div class="primary_fields">
	  <table class="contact_types" cellsapcing="0" cellpadding="0">
        <tr class="name first_name">
	      <th>
		    <h2>Nome</h2>
		  </th>
		  <td>
			<%= f.text_field :firstname, :class => "name autofocus" %>
		  </td>
	    </tr>
        <tr class="name last_name">
	      <th>
		    <h2>Cognome</h2>
		  </th>
		  <td>
			<%= f.text_field :lastname, :class => "name autofocus" %>
		  </td>
	    </tr>
        <tr class="name last_name">
	      <th>
		    <h2>Data di nascita</h2>
		  </th>
		  <td>
			<%= f.text_field :birthdate, :class => "name autofocus" %>
		  </td>
	    </tr>
        <tr class="name last_name">
	      <th>
		    <h2>Codice Fiscale</h2>
		  </th>
		  <td>
			<%= f.text_field :fiscalcode, :class => "name autofocus" %>
		  </td>
	    </tr>
	  </table>
	</div>
  </div>
  <div class="secondary_fields">
	<table id="contact_section" class="contact_types" cellspacing="0" cellpadding="0">
      <tr> 
	    <th>
		  <h2>Indirizzo email</h2>
		</th>
		<td>
          <%= f.text_field :email, :class => "name autofocus" %>
		</td>
	  </tr>
      <tr> 
	    <th>
		  <h2>Numero di telefono</h2>
		</th>
		<td>
          <%= f.text_field :phone_number, :class => "name autofocus" %>
		</td>
	  </tr>
      <tr> 
	    <th>
		  <h2>Data di assunzione</h2>
		</th>
		<td>
          <%= f.text_field :enrolldate, :class => "name autofocus" %>
		</td>
	  </tr>
      <tr>
	    <th>
		  <h2>Data di dimissione</h2>
		</th>
		<td>
          <%= f.text_field :leavedate, :class => "name autofocus" %>
		</td>
	  </tr>
      <tr>
	    <th>
		  <h2>Sesso</h2>
		</th>
		<td>
          <%= f.label :gender, 'M', :value => 'M' %>
          <%= f.radio_button :gender, "M", :class => "gender" %>
          <%= f.label :gender, "F", :value => 'F' %>
          <%= f.radio_button :gender, "F", :class => "gender" %>
		</td>
	  </tr>
	</table>
  </div>
  <div class="avatar_and_loader">
	<div class="avatar">
      <%= image_tag(@employee.avatar_image) %>
    </div>
	<div class="link_to_change">
	  <h2>Aggiungi una foto</h2>
      <%= f.file_field :avatar %>		
	</div>
  </div>
  <p class="submit">
	<%= submit_tag "Aggiungi questo dipendente" %>
  </p>
</div>

