
  <div class="group">
    <%= f.label :name, t("activerecord.attributes.esattore.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :code, t("activerecord.attributes.esattore.code", :default => "Code"), :class => :label %>
    <%= f.text_field :code, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :tipo, t("activerecord.attributes.esattore.tipo", :default => "Tipo"), :class => :label %>
    <%= f.text_field :tipo, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :tipo_indennita, t("activerecord.attributes.esattore.tipo_indennita", :default => "Tipo indennita"), :class => :label %>
    <%= f.text_field :tipo_indennita, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :valore_indennita, t("activerecord.attributes.esattore.valore_indennita", :default => "Valore indennita"), :class => :label %>
    <%= f.number_field :valore_indennita, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), esattori_path, :class => "text_button_padding link_button" %>
</div>