<div class="blocco">
   <div class="cli1">
	 <%= @location.customer.name %>
   </div>
   <div class="cli2">
	 <%= @location.name %>
   </div>
   <div class="cli3">
	 <%= @location.string_address %>
   </div>
   <div class="mappa">
	  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x250&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>	 
   </div>   
</div>

      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_customer_location_path(@customer,@location), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), customer_location_path(@customer,@location), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
