<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "Elenco")}", accounts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Crea")}", new_account_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "Elenco")  %> Conti di contabilità</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Codice</th>
          <th>Descrizione
          <th class="last">&nbsp;</th>
        </tr>
        <% @accounts.each do |account| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to account.codmastro+account.codconto+account.codsottoconto, account_path(account) %>
          </td>
          <td>
            <%= account.mastro + " " + account.conto + " " + account.sottoconto %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Mostra")}", account_path(account) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Modifica")}", edit_account_path(account) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Elimina")}", account_path(account), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= paginate @accounts  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
