<h1>Guardie Particolari Giurate</h1>
<div class="block" id="block-signup">
   <h2>Registrazione</h2>
   <div class="content">
	  <div class="flash">
		<% flash.each do |type,message| %>
                   <div class="message <%= h type -%>">
	              <p><%= message %></p>
	           </div>
		<% end %>
	  </div>
	  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f| %>
	     <div class="group">
                <div class="label">
    		   <%= f.label :email %>
                </div>
                <div class="text_field">
    		   <%= f.text_field :email %>
                </div>
		<span class="description">
                      Ex. test@sample.com			  
		</span>
	     </div>
	     <div class="group">
                <div class="label">
                   <%= f.label :password %>
                </div>
                <div class="text_field">
                   <%= f.password_field :password %>		
                </div>
		<span class="description">
                     must be at least 6 characters			  
		</span>         
             </div>
	     <div class="group">
                <div class="label">
		   <%= f.label :password_confirmation, "Re-enter Password" %>
                </div>
                <div class="text_field">
		   <%= f.password_field :password_confirmation %>
                </div>
             </div>
             <div class="group navform wat-cf">
	        <button class="button" type="submit">
                   <%= image_tag "web-app-theme/icons/tick.png" %>
                   Sign up		       
		</button>
	     </div>
	  <% end %>
          <%= render :partial => "devise/shared/links" %>
   </div>
</div>
