<div class="block" id="block-text">  
  <div class="content">
	<div class="inner">		
    <h2 class="title">gpg - Guardie particolari Giurate</h2>
      <div class="content-secondary">
        <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-dividertheme"f" data-theme="c" data-inset="true" data-role="listview">
          <li class="ui-li ui-li-divider ui-btn ui-bar-f ui-corner-top ui-btn-up-undefined" datarole="list-divider" role="heading">
            Gestione Tabelle
          </li>   
          <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
            <div class="ui-btn-inner ui-li" aria-hidden="true">
               <div class="ui-btn-text">
                 <%= link_to "Piano dei conti", accounts_path, :class=> "ui-link-inherit" %>
               </div>
               <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
            </div>
          </li>
          <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
            <div class="ui-btn-inner ui-li" aria-hidden="true">
               <div class="ui-btn-text">
                 <%= link_to "Tipi di attività", business_types_path, :class=> "ui-link-inherit" %>
               </div>
               <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
            </div>
          </li>
          <li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-btn-up-c">
            <div class="ui-btn-inner ui-li" aria-hidden="true">
               <div class="ui-btn-text">
                 <%= link_to "Tipi di contratto", contract_types_path, :class=> "ui-link-inherit" %>
               </div>
               <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-secondary">
	    <nav>
		  <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" data-dividertheme="b" data-theme="c" data-inset="true" data role="listview">
		    <li class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top ui-btn-up-undefined" data-role="list-divider" role="heading">
			  Gestione Anagrafiche
		    </li>
		    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" data-theme="c">
			  <div class="ui-btn-inner ui-li" aria-hidden="true">
			    <div class="ui-btn-text">
				  <%= link_to "Dipendenti", employees_path, :class => "ui-link-inherit" %>
			    </div>
			    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
		      </div>
  		    </li>
		    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" data-theme="c">
			  <div class="ui-btn-inner ui-li" aria-hidden="true">
			    <div class="ui-btn-text">
				  <%= link_to "Esattori", esattori_path, :class => "ui-link-inherit" %>
			    </div>
			    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			  </div>
		    </li>

		    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" data-theme="c">
			  <div class="ui-btn-inner ui-li" aria-hidden="true">
			    <div class="ui-btn-text">
				  <%= link_to "Clienti", customers_path, :class => "ui-link-inherit" %>
			    </div>
			    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			  </div>
		    </li>
		    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" data-theme="c">
			  <div class="ui-btn-inner ui-li" aria-hidden="true">
			    <div class="ui-btn-text">
				  <%= link_to "Zone", zones_path, :class => "ui-link-inherit" %>
			    </div>
			    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			  </div>
		    </li>
		    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-btn-up-c" data-theme="c">
			  <div class="ui-btn-inner ui-li" aria-hidden="true">
			    <div class="ui-btn-text">
				  <%= link_to "Contratti", contracts_path, :class => "ui-link-inherit" %>
			    </div>
			    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>
			  </div>
		    </li>
		  </ul>
	    </nav>
	  </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>