<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Contratto: " + @contract.number + " Cliente: " + @contract.customer.name, contract_path(@contract)  %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= "Indirizzo" %>:</b>
          <%= @service_location.location.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.service_location.contract_id", :default => t("activerecord.labels.contract_id", :default => "Contract")) %>:</b>
          <%= @service_location.contract_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.service_location.sequence", :default => t("activerecord.labels.sequence", :default => "Sequence")) %>:</b>
          <%= @service_location.sequence %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.service_location.sort_flag", :default => t("activerecord.labels.sort_flag", :default => "Sort flag")) %>:</b>
          <%= @service_location.sort_flag %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_contract_service_location_path(@contract,@service_location), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), contract_service_location_path(@contract,@service_location), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>