<div>
  <%= image_tag "lubrani1.png", :size => "90x102", :style => "display:block; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px;" %>
</div>
<div class="block" id="block-login">
  <h2>Accesso</h2>
  <div class="content login">
    <div class="flash">
      <% flash.each do |type, message| %>
        <div class= "message <%= h type -%>">
          <p><%= message %></p>
        </div>
      <% end %>
    </div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f| %>
      <div class="group wat-cf">
        <div class="left"><%= f.label :email, :class => "label right" %></div>
        <div class="right"><%= f.text_field :email, :class => "text_field" %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><%= f.label :password, :class => "label right" %></div>
        <div class="right"><%= f.password_field :password, :class => "text_field" %></div>
      </div>
      <%- if devise_mapping.rememberable? %>
        <div class="group wat-cf">
          <div class="right">
            <%= f.check_box :remember_me, :class => "checkbox" %>
            <%= f.label :remember_me, :class => "checkbox" %>
          </div>
        </div>
      <% end %>
      <div class="group wat-cf">
        <div class="right">
          <button class="button" type= "submit">
            <%= image_tag "web-app-theme/icons/key.png" %>
            Login
          </button>
        </div>
      </div>
    <% end %>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
